# Mac
.DS_Store

# Windows
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node / NPM
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Next.js build cache and outputs
.next/
out/

# Netlify
.netlify/

# Local env files
.env*.local

# IDEs & System
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
desktop.ini
